.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
}



@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
    transition: 0.3s;
    border-radius: 50%;
    background: #F4F4F7;
}
#modal .close{
    background: unset;
    top: 15px;
    right: 15px;
}
.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;

}

.close:before{
    width: 20px;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 20px;
}
.modal-info{
    position: relative;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    padding: 50px 20px;
}
.modal-info h3{
    text-align: center;
    color: #000;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 25px;
}
.modal-form{
    max-width: 361px;
    width: 100%;
    margin: 0 auto;
}
.modal-form .btn{
    max-width: 361px;
    width: 100%;
    height: 80px;
}
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #868686;
    font-size: 11px;
    max-width: 220px;
    width: 100%;
    margin: 15px auto 0;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #000000;
}
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}
.checkcontainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: -1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}
.checkcontainer a {
    color: #fbd229;
    font-family: inherit;
    cursor: pointer;
    transition: 0.5s;
    display: block;
}

@media (max-width: 991px){
    .modal-info h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 14px;
    }
    .modal-form .btn {
        height: 65px;
    }
}
@media (max-width: 570px){
    .modal-info {
        padding: 45px 15px 30px;
    }
}