@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Italic.woff2') format('woff2'),
    url('Montserrat-Italic.woff') format('woff'),
    url('Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Regular.woff') format('woff'),
    url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Bold.woff2') format('woff2'),
    url('Montserrat-Bold.woff') format('woff'),
    url('Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Light.woff2') format('woff2'),
    url('Montserrat-Light.woff') format('woff'),
    url('Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
    url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Black.woff2') format('woff2'),
    url('Montserrat-Black.woff') format('woff'),
    url('Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Medium.woff2') format('woff2'),
    url('Montserrat-Medium.woff') format('woff'),
    url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-ExtraBold.woff2') format('woff2'),
    url('Montserrat-ExtraBold.woff') format('woff'),
    url('Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-SemiBold.woff2') format('woff2'),
    url('Montserrat-SemiBold.woff') format('woff'),
    url('Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff2') format('woff2'),
    url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Extrabold.woff2') format('woff2'),
    url('Gilroy-Extrabold.woff') format('woff'),
    url('Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


